body {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  color: #494F7C;
  line-height: 1.46;
}

@media (min-width: 1400px) {
  body {
   font-size: 18px;
  }
}

img {
  max-width: 100%;
}


h1, h2, h3, h4, h6,
.h1, .h2, .h3, .h4, .h6 {
  color: #0C1451;
}

h5,
.h5 {
  color: #FE9B8E;
}

p,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
  color: #0C1451;
}

h1,
.h1 {
  font-size: 80px;
  line-height: 1.1;
}

h2,
.h2 {
  font-size: 60px;
  line-height: 110%;
}

h3,
.h3 {
  font-size: 50px;
  line-height: 110%;
}

h4,
.h4 {
  font-size: 32px;
  line-height: 116%;
}

h5,
.h5 {
  font-size: 26px;
  line-height: 146%;
  color: #FE9B8E;
}

h6,
.h6 {
  font-size: 22px;
  line-height: 146%;
}

.big {
  font-size: 22px;
  line-height: 1.46;
}


/* Sections */
.section-xs {
  padding: 30px 0; 
}

.section-md {
  padding: 100px 0;
}

/* Container Size */
@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }

  .row {
    margin-left: -25px;
    margin-right: -25px;
  }

  [class*='col-'] {
    padding-left: 25px;
    padding-right: 25px;
  }
}


/* Context */
.context-dark,
.context-dark h1, .context-dark h2, .context-dark h3, .context-dark h4, .context-dark h5, .context-dark h6,
.context-dark .h1, .context-dark .h2, .context-dark .h3, .context-dark .h4, .context-dark .h5, .context-dark .h6 {
  color: #fff;
} 


/* Backgrounds */
.bg-primary {
  background-color: #0C1451 !important;
}

.bg-primary-light {
  background-color: #0B1455;
}

.bg-secondary {
  background-color: #FE9B8E !important;
}

.bg-secondary-light {
  background-color: #FEEBE8;
}

.bg-text-color {
  background-color: #494F7C;
}


/* Offsets */
* + p {
  margin-top: 30px;
}

* + .big {
  margin-top: 40px;
}

* + h1,
* + .h1 {
  margin-top: 20px;
}

* + h2,
* + .h2 {
  margin-top: 20px;
}

* + h3,
* + .h3 {
  margin-top: 20px;
}

* + h4,
* + .h4 {
  margin-top: 20px;
}

* + h5,
* + .h5 {
  margin-top: 20px;
}

* + h6,
* + .h6 {
  margin-top: 14px;
}

* + .row {
  margin-top: 60px;
}


/* Spacing */
.row-30 {
  margin-bottom: -30px;
}

.row-30 > [class*='col-'] {
  margin-bottom: 30px;
}

@media (min-width: 1400px) {
  .row-xxl-50 {
    margin-bottom: -50px;
  }
  
  .row-xxl-50 > [class*='col-'] {
    margin-bottom: 50px;
  }
}


/* Buttons */
.btn {
  border-radius: 8px;
  font-size: 20px;
  line-height: 1.2;
  padding: 23px 50px;
  font-weight: 700;
  border: 0;
  box-shadow: 6px 10px 16px rgba(11, 20, 85, 0.12);
}

.btn-sm {
  font-size: 18px;
  padding: 16px 25px;
}

.btn-lg {
  padding: 27px 65px;
  font-size: 22px;
}

.btn-primary {
  background-color: #0B1455;
}

.btn-secondary {
  background-color: #FE9B8E;
}

.btn-white {
  background-color: #fff;
}

.btn-white:hover {
  background-color: grey;
  color: white;
}

.group-50 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -50px;
  margin-bottom: -50px;
}

* + .group-50 {
  margin-top: 60px;
}

.group-50 > * {
  margin-left: 50px;
  margin-bottom: 50px;
}

h3+.group-50 {
  margin-top: 30px;
}

/* Box Colors */
.box-color {
  padding-bottom: 100%;
}


/* Header */
.navbar-brand img {
  width: 215px;
  height: auto;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Sections */
/* Intro */ 
.section-intro {
  display: flex;
  align-items: center;
  background-image: url("./../images/home-01.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  min-height: calc(100VH - 82px);
  padding: 150px 0;
}

/* Tel */
.tel {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.1;
  color: #0C1451;
}

.tel a {
  color: inherit;
}

* + .tel {
  margin-top: 94px;
}

.tel + p {
  margin-top: 24px;
}